canvas {
    margin: auto;
}
#logo{
    margin: auto;
    margin-top: 6rem;
    display: inline-block;
    width: 50rem;
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
#logoImg{
    width: 100%;
}
h1{

}