canvas {
    margin: auto;
}
#logo{
    margin: auto;
    margin-top: 3rem;
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
#logoImg{
    width: 25%;
    height: 25%;
}